body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f0f0f0;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 0 2rem;
    padding: 10px 20px;
    background: #444;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    list-style-type: none;
}

nav ul li {
    padding: 8px;
    border-radius: 10px;
}

nav ul li:hover {
    background-color: #808080;
    transition: .4s ease;
}

main {
    display: flex;
    flex-direction: row;
}

.document-section {
    background-color: #cfcfcf;
    height: 90vh;
    min-width: 50vw;
}